// $primary-color: ;
// $secondary-color: ;
$background-color: #3A3B3C;

/* general styles */

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
}

.container-fluid {
  padding: 0;
}

.main-page {
  height: 90vh;
  .channels {
    border: 1px solid black;
    height: 100%;
  }

  .messages-box {
    border: 1px solid black;
    height: 100%;
    overflow-y: scroll;
  }
}

.component-with-input {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .message-wrapper {
    display: flex;

    .profile-pic-icon {
      border: 1px solid black;
      border-radius: 50%;
    }

    .message {
      border: 1px solid black;
      border-radius: 5px;
      margin: 10px;
      background-color: blanchedalmond;
      text-align: left;
      padding: 0px 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover .trash-button {
        visibility: visible;
      }

      .trash-button {
        visibility: hidden;
      }
    }
  }

  .tab {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 5px 0;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .currentTab {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 5px 0;
    padding: 0 5px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.currentTab {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 5px 0;
  padding: 0 5px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding: 0;

  .server-name {
    height: 10vh;
    border: 1px solid black;
  }
  
  .channel-header {
    height: 10vh;
    border: 1px solid black;
  }
}

.input-form {
  display: flex;

  form {
    width: 100%;
  }

  input {
    height: 100%;
    width: 100%;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-bottom: 1px solid blueviolet;

    transition: border-bottom 150ms ease-in;

    &:focus {
      border-bottom-width: 3px;
      outline: none;
    }
  }

  button {
    background-color: rgba(138, 43, 226, 0.5);
    border-radius: 0;

    transition: all 150ms ease-in;
    
    &:hover {
      background-color: blueviolet;
      color: white;
    }
  }

  .channel-submit-input {
    width: 100%;
  }
}

.timestamp {
  color: gray;
  font-size: 10pt;
}

.trash-button {
  visibility: hidden;
}

.message:hover .trash-button {
  visibility: visible;
}

/* profile page styles */

.profile-page {
  display: flex;
  flex-direction: column;

  .user-info {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

    .profile-pic {
      border: 1px solid black;
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
  }
}