body {
  padding: 0;
  margin: 0;
}

.server-name {
  height: 10vh;
  border: 1px solid black;
}

.channel-header {
  height: 10vh;
  border: 1px solid black;
}

.container-fluid {
  padding: 0;
}

.main-page {
  height: 90vh;
}

.channels {
  border: 1px solid black;
  height: 100%;
}

.component-with-input {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages-box {
  border: 1px solid black;
  height: 100%;
  overflow-y: scroll;
}

.message {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  background-color: blanchedalmond;
  text-align: left;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timestamp {
  color: gray;
  font-size: 10pt;
}

.trash-button {
  visibility: hidden;
}

.message:hover .trash-button {
  visibility: visible;
}

.header {
  padding: 0;
}

/* .message-input {
  border: 1px solid black;
}

.channel-input {
  border: 1px solid black;
} */

.input-form {
  display: flex;
}

.input-form form {
  width: 100%;
}

.input-form input {
  height: 100%;
  width: 100%;
}

.channel-submit-input {
  width: 100%;
}

.tab {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 5px 0;
  padding: 0 5px;
}

.currentTab {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 5px 0;
  padding: 0 5px;
  background-color: gray;
  color: white;
}

h5 {
  text-align: center;
}

